.container{
    width: 40vw;
    margin: 15vh auto;
    padding: 5vh 0;
    border: 1px solid #6cb3ff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.header{
    font-size: 3vw;
    text-align: center;
    margin-bottom: 2vh;
}
.text{
    font-size: 1vw;
    text-align: left;
    margin-left: 14vw;
    margin-bottom: 2vh;
}
.text-error{
    display: none;
    color: #ff0000;
    margin-left: 14vw;
    font-size: .5vw;
    text-align: left;
    margin-bottom: 1vh;
}
.input-field{
    width: 25%;
    padding: 1vw;
    margin-left: 35%;
    margin-bottom: 2vh;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#loginButton{
    margin-top: 5vh;
}
.button{
    width: 30%;
    padding: 1vw;
    margin-left: 35%;
    margin-bottom: 2vh;
    border: none;
    border-radius: 5px;
    background-color: #6cb3ff;
    color: white;
    font-size: 1vw;
    cursor: pointer;
}
.button:hover{
    background-color: #5aa0e0;
}
.collumn{
    display: flex;
}
.options{
    cursor: pointer;
}
.options:hover{
    transform: scale(1.1);
}
.pop-up{
    display: none;
    position: absolute;
    border: 1px solid #6cb3ff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff    
}
.pop-up-text{
    color: #6cb3ff;
    text-align: left;
    font-size: 15px;
    margin-left: 1vw;
    margin-right: 1vw;
    text-decoration: underline;
    cursor: pointer;
}
.pop-up-text:hover{
    color:#5aa0e0;
}