.toolbar{
    position:fixed;
    width: 100%;
    height: 50px;
    min-height: auto;
    top: 0;
    left: 0;
    background-color:rgb(255, 255, 255);

    display: flex;
    justify-content: space-between;
}
#title
{
    font-size: 20px;
    margin-left: 1vw;
}
#hamburger{
    font-size: 20px;
    margin-right: 1vw
}
#options-pop-up{
    top: 100%;
    right: 1%;
}
#logout{
    color: #ff0000;
}
#message{
    margin-top: 60px;
    width: 90%;
    padding: 0%;
}
#new{
    display: flex;
    width: 80%;
    margin-left: 10%;
}
.dashboard{
    width: 25%;
    min-height: 80vh;
    margin: auto;
    border: 1px solid #6cb3ff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.projectList{
    text-align: center;
}
#dashboard1
{
    width: 50%
}
